pyobjc-framework-MetalKit==11.0
pyobjc-framework-LocalAuthentication==11.0
pyobjc-framework-FileProvider==11.0
sphinxcontrib-serializinghtml==1.1.5
sqlparse==0.4.4
async-lru==2.0.4
ply==3.11
coloredlogs==15.0.1
uri-template==1.3.0
Sphinx==4.5.0
humanfriendly==10.0
jupyter_core==5.3.2
kiwisolver==1.4.5
patsy==0.5.3
rfc3339-validator==0.1.4
torchfields==0.1.2
pyobjc-framework-NetworkExtension==11.0
contourpy==1.1.1
appnope==0.1.3
torchmetrics==1.6.1
torchmetrics==1.7.0
pyobjc-framework-SafariServices==11.0
PyWavelets==1.4.1
wcwidth==0.2.6
pyobjc-framework-Symbols==11.0
Pillow==10.0.1
pyobjc-framework-DictionaryServices==11.0
fqdn==1.5.1
decorator==5.1.1
pyobjc-framework-CoreLocation==11.0
async-timeout==5.0.1
itk-numerics==5.3.0
pyobjc-framework-SystemExtensions==11.0
cma==4.0.0
torch-interpol==0.2.4
QtPy==2.4.0
xyzservices==2024.6.0
napari==0.5.2
traitlets==5.10.1
rich==13.5.3
Jinja2==3.1.2
Jinja2==3.1.6
nitorch==0.1+425.gd67915e
ipywidgets==8.1.1
pyasn1_modules==0.4.1
folium==0.17.0
distlib==0.3.9
pyobjc-framework-MapKit==11.0
pyobjc-framework-AppleScriptObjC==11.0
pyobjc-framework-CFNetwork==11.0
jsonschema-specifications==2023.7.1
pandocfilters==1.5.0
multidict==6.1.0
ptyprocess==0.7.0
flatbuffers==25.2.10
sphinxcontrib-devhelp==1.0.2
statsmodels==0.14.0
isoduration==20.11.0
torchio==0.20.10
PyYAML==6.0.1
pyobjc-framework-AdServices==11.0
pyobjc-framework-Network==11.0
pyobjc-framework-WebKit==11.0
pyobjc==11.0
pyobjc-framework-DVDPlayback==11.0
pyobjc-framework-AppTrackingTransparency==11.0
lightning==2.5.3
pyttsx3==2.98
lxml==5.3.0
vispy==0.14.3
tinycss2==1.2.1
pyobjc-framework-AVRouting==11.0
anyio==4.0.0
pyproject_hooks==1.0.0
bleach==6.0.0
pyobjc-framework-Automator==11.0
pyobjc-framework-ModelIO==11.0
pyobjc-framework-SceneKit==11.0
jupyterlab==4.0.6
importlib_metadata==8.6.1
importlib-metadata==6.8.0
webencodings==0.5.1
neurite==0.2
pyobjc-framework-Security==11.0
pyobjc-framework-CloudKit==11.0
uvicorn==0.34.0
pyobjc-framework-GameplayKit==11.0
python-dateutil==2.8.2
pyobjc-framework-SecurityFoundation==11.0
lightning-utilities==0.12.0
lightning-utilities==0.11.9
superqt==0.6.7
pyobjc-framework-MetricKit==11.0
pystrum==0.4
fasteners==0.19
attrs==23.1.0
pyobjc-framework-CoreSpotlight==11.0
zipp==3.21.0
zipp==3.17.0
nbsphinx==0.9.3
qtconsole==5.4.4
napari-plugin-manager==0.1.0a2
torch-complex==0.4.3
itk-registration==5.3.0
pyobjc-framework-Cocoa==11.0
pyobjc-framework-MediaAccessibility==11.0
pip==25.1.1
eagerpy==0.30.0
python-json-logger==2.0.7
pyobjc-framework-CoreHaptics==11.0
jupyter_server_terminals==0.4.4
msgpack==1.1.0
nbformat==5.9.2
networkx==3.1
networkx==3.4.2
napari-console==0.0.9
itk-filtering==5.3.0
defusedxml==0.7.1
jupyter-events==0.7.0
pyobjc-framework-ScriptingBridge==11.0
runstats==2.0.0
typer==0.9.0
jsonpointer==2.4
image==1.5.33
frozenlist==1.5.0
nbconvert==7.8.0
pyobjc-framework-IOBluetooth==11.0
pyobjc-framework-QuickLookThumbnailing==11.0
pyobjc-framework-SharedWithYouCore==11.0
pickleshare==0.7.5
python-etcd==0.4.5
matplotlib==3.8.0
pyobjc-framework-Carbon==11.0
stack-data==0.6.2
h5py==3.12.1
dnspython==2.7.0
pyobjc-framework-Virtualization==11.0
aiohttp-cors==0.8.0
numcodecs==0.13.0
asttokens==2.4.0
pyobjc-framework-ExternalAccessory==11.0
pyobjc-framework-EventKit==11.0
crfseg==1.0.0
notebook==7.0.6
locket==1.0.0
pyobjc-framework-ServiceManagement==11.0
pyobjc-framework-LaunchServices==11.0
pyobjc-framework-GameCenter==11.0
pyobjc-framework-HealthKit==11.0
pyobjc-framework-ScreenSaver==11.0
triangle==20230923
pytest==7.4.3
markdown-it-py==3.0.0
parso==0.8.3
ipython==8.15.0
sympy==1.13.3
sympy==1.12
pyobjc-framework-CryptoTokenKit==11.0
executing==1.2.0
pyobjc-framework-Accessibility==11.0
six==1.16.0
six==1.17.0
fire==0.7.1
seaborn==0.13.2
mypy-extensions==1.0.0
pyobjc-framework-ExtensionKit==11.0
h11==0.14.0
GitPython==3.1.44
nibabel==5.1.0
python-utils==3.8.1
onnxruntime==1.22.0
pyobjc-framework-MediaLibrary==11.0
pyobjc-framework-CoreMIDI==11.0
pyobjc-framework-UserNotifications==11.0
pyobjc-framework-PHASE==11.0
pyobjc-framework-AppleScriptKit==11.0
jupyter-console==6.6.3
progressbar2==4.2.0
itk==5.3.0
pyobjc-framework-PencilKit==11.0
future==0.18.3
npe2==0.7.7
pyobjc-framework-Cinematic==11.0
pyobjc-framework-CalendarStore==11.0
asciitree==0.3.3
cloudpickle==2.2.1
pyobjc-framework-BrowserEngineKit==11.0
openpyxl==3.1.2
Pygments==2.16.1
pyobjc-framework-CoreML==11.0
pytz==2023.3.post1
tensorboard_data_server==0.7.0
tifffile==2023.9.26
pandoc==2.3
ray==2.44.0
overrides==7.4.0
fslpy==3.22.0
imageio==2.31.4
magicgui==0.7.3
sphinxcontrib-applehelp==1.0.4
napari-svg==0.1.10
pyobjc-framework-ExecutionPolicy==11.0
pyobjc-framework-OpenDirectory==11.0
webcolors==1.13
exceptiongroup==1.1.3
setuptools==68.0.0
iniconfig==2.0.0
pyobjc-framework-PassKit==11.0
Markdown==3.6
pyobjc-framework-libxpc==11.0
mpl-interactions==0.24.1
pyobjc-framework-Metal==11.0
vtk==9.2.6
jupyterlab_widgets==3.0.13
Babel==2.12.1
altgraph==0.17.4
hsluv==5.0.4
pyobjc-framework-DiscRecording==11.0
pyobjc-framework-PreferencePanes==11.0
fastapi==0.115.11
pytorch-lightning==2.5.0.post0
freetype-py==2.4.0
lazy_loader==0.3
pyobjc-framework-CoreText==11.0
partd==1.4.1
pyobjc-framework-Vision==11.0
pyobjc-framework-Quartz==11.0
pyobjc-framework-MetalFX==11.0
setproctitle==1.3.6
numpy==1.26.4
numpy==1.26.0
pyobjc-framework-NotificationCenter==11.0
pyobjc-framework-IOBluetoothUI==11.0
pyobjc-framework-PushKit==11.0
pooch==1.7.0
tzdata==2023.3
kornia==0.7.0
jupyter-lsp==2.2.0
numba==0.60.0
nilearn==0.10.4
scipy==1.11.3
nptyping==2.5.0
itk-core==5.3.0
pyzmq==25.1.1
appdirs==1.4.4
medmnist==3.0.2
pyobjc-framework-MediaToolbox==11.0
pyobjc-framework-ContactsUI==11.0
pyobjc-framework-CoreMotion==11.0
pyobjc-framework-GameController==11.0
redis==6.2.0
Cython==3.0.5
aiohttp==3.11.11
pyobjc-framework-SharedWithYou==11.0
pyobjc-framework-CoreServices==11.0
pyobjc-framework-ExceptionHandling==11.0
platformdirs==3.10.0
tornado==6.3.3
arrow==1.2.3
propcache==0.2.1
absl-py==2.2.0
sentry-sdk==2.32.0
pyasn1==0.6.1
pyobjc-framework-KernelManagement==11.0
fonttools==4.42.1
argon2-cffi==23.1.0
tensorboard==2.19.0
idna==3.4
filelock==3.12.4
filelock==3.18.0
pyobjc-framework-PhotosUI==11.0
pyobjc-framework-VideoToolbox==11.0
pyobjc-framework-IOSurface==11.0
difw==0.0.31
pyobjc-framework-SystemConfiguration==11.0
pyobjc-framework-DiscRecordingUI==11.0
protobuf==4.25.3
sphinxcontrib-jsmath==1.0.1
pyobjc-framework-UserNotificationsUI==11.0
pycparser==2.21
pyobjc-framework-IntentsUI==11.0
Werkzeug==3.1.3
uq==0.1.2
pyinstaller==6.1.0
pyobjc-framework-MultipeerConnectivity==11.0
json5==0.9.14
wrapt==1.15.0
napari-plugin-engine==0.2.0
pure-eval==0.2.2
virtualenv==20.29.3
python-dotenv==1.0.1
pytorch-complex-tensor==0.0.134
backcall==0.2.0
prompt-toolkit==3.0.39
pyobjc-framework-CoreData==11.0
pyobjc-framework-SafetyKit==11.0
jacobian==1.0.0
soupsieve==2.5
cycler==0.11.0
requests==2.31.0
threadpoolctl==3.2.0
pydicom==3.0.1
pyobjc-framework-LatentSemanticMapping==11.0
pyobjc-framework-ScreenTime==11.0
branca==0.7.2
pyobjc-framework-MetalPerformanceShaders==11.0
pyarrow==17.0.0
pyqtgraph==0.13.7
pyobjc-framework-MLCompute==11.0
pyobjc-framework-ShazamKit==11.0
gitdb==4.0.12
matplotlib-inline==0.1.6
pyobjc-framework-ApplicationServices==11.0
charset-normalizer==3.2.0
notebook_shim==0.2.3
pyobjc-framework-OSLog==11.0
terminado==0.17.1
pyobjc-framework-Social==11.0
mdurl==0.1.2
jsonschema==4.19.1
vedo==2023.4.6
pyobjc-framework-SpriteKit==11.0
mpmath==1.3.0
ipython-genutils==0.2.0
pyobjc-framework-CoreMediaIO==11.0
pypandoc==1.12
pyobjc-framework-FSEvents==11.0
PyQt5-Qt5==5.15.2
pynrrd==1.0.0
docutils==0.17.1
ipympl==0.9.4
py-spy==0.4.0
prometheus-client==0.17.1
yarl==1.18.3
nest-asyncio==1.5.8
pyobjc-framework-SensitiveContentAnalysis==11.0
PyQt5-sip==12.12.2
rsa==4.9
typing_extensions==4.8.0
typing_extensions==4.12.2
pyobjc-framework-MediaExtension==11.0
Pint==0.22
packaging==24.2
packaging==23.1
pyobjc-framework-SyncServices==11.0
alabaster==0.7.13
widgetsnbextension==4.0.13
pyobjc-framework-Collaboration==11.0
pyobjc-framework-CoreAudio==11.0
joblib==1.3.2
pyobjc-framework-Intents==11.0
ipykernel==6.25.2
pyobjc-framework-ReplayKit==11.0
beautifulsoup4==4.12.2
pyobjc-framework-BackgroundAssets==11.0
nltk==3.8.1
pyobjc-framework-FinderSync==11.0
scikit-learn==1.3.2
opencensus-context==0.1.3
plumbum==1.8.2
jupyterlab-pygments==0.2.2
jupyterlab_server==2.25.0
torch==2.2.2
torch==2.3.1
jupyter==1.0.0
complexPyTorch==0.4
pyobjc-framework-FileProviderUI==11.0
mistune==3.0.1
pyobjc-framework-DeviceCheck==11.0
pyobjc-framework-DeviceDiscoveryExtension==11.0
docstring-parser==0.15
pyobjc-framework-Accounts==11.0
build==1.0.3
pyobjc-framework-CoreBluetooth==11.0
imagesize==1.4.1
sphinxcontrib-qthelp==1.0.3
pyobjc-framework-LocalAuthenticationEmbeddedUI==11.0
tomli_w==1.0.0
pyobjc-framework-MediaPlayer==11.0
pyobjc-framework-CallKit==11.0
pyobjc-framework-ImageCaptureCore==11.0
pexpect==4.8.0
tensorboardX==2.6.2.2
xlrd==2.0.1
pydantic-compat==0.1.2
pints==0.5.0
pyobjc-framework-Photos==11.0
pyobjc-framework-MailKit==11.0
opencensus==0.11.4
torchvision==0.17.2
opencv-python==4.11.0.86
pyobjc-framework-InstantMessage==11.0
cffi==1.15.1
monai==1.4.0
pyobjc-framework-UniformTypeIdentifiers==11.0
pyobjc-framework-SoundAnalysis==11.0
psutil==5.9.5
fastmri==0.3.0
pyobjc-framework-AddressBook==11.0
pyobjc-framework-BusinessChat==11.0
pygame==2.6.1
pyobjc-framework-InputMethodKit==11.0
google-auth==2.38.0
PyOpenGL==3.1.7
pyinstaller-hooks-contrib==2023.10
pyobjc-framework-ScreenCaptureKit==11.0
pyparsing==3.1.1
pyobjc-framework-LinkPresentation==11.0
itk-io==5.3.0
pyobjc-framework-AutomaticAssessmentConfiguration==11.0
pyobjc-framework-StoreKit==11.0
fsspec==2025.3.0
fsspec==2023.9.2
urllib3==2.0.5
starlette==0.46.1
pyobjc-framework-SearchKit==11.0
regex==2023.10.3
pyobjc-framework-CoreMedia==11.0
pyobjc-framework-MetalPerformanceShadersGraph==11.0
pyobjc-framework-Speech==11.0
pyobjc-framework-ClassKit==11.0
jedi==0.19.0
rfc3986-validator==0.1.1
simpleitk==2.5.2
tomli==2.0.1
smart-open==7.1.0
pyobjc-framework-iTunesLibrary==11.0
websockets==15.0.1
pyobjc-framework-DiskArbitration==11.0
google-api-core==2.24.2
pyobjc-framework-OSAKit==11.0
httptools==0.6.4
referencing==0.30.2
wandb==0.20.1
ninja==1.11.1.1
snowballstemmer==2.2.0
argon2-cffi-bindings==21.2.0
Send2Trash==1.8.2
flow-vis==0.1
certifi==2023.7.22
websocket-client==1.6.3
zarr==2.18.2
einops==0.8.1
jupyter_server==2.7.3
aiosignal==1.3.2
dask==2023.9.2
humanize==4.12.3
sniffio==1.3.0
smmap==5.0.2
watchfiles==1.0.4
pyobjc-framework-CoreAudioKit==11.0
et-xmlfile==1.1.0
itk-segmentation==5.3.0
rpds-py==0.10.3
psygnal==0.9.4
Deprecated==1.2.14
brainweb==1.6.2
sphinxcontrib-htmlhelp==2.0.1
pyobjc-framework-Contacts==11.0
toolz==0.12.0
pyobjc-framework-AuthenticationServices==11.0
cachey==0.2.1
pyobjc-core==11.0
pydantic==1.10.13
pyobjc-framework-CoreWLAN==11.0
in-n-out==0.1.8
nbclient==0.8.0
debugpy==1.8.0
pyobjc-framework-ColorSync==11.0
jupyter_client==8.3.1
tqdm==4.66.1
googleapis-common-protos==1.69.2
uvloop==0.21.0
aiohappyeyeballs==2.4.4
pyobjc-framework-AVKit==11.0
HeapDict==1.0.1
pyobjc-framework-libdispatch==11.0
colorful==0.5.6
termcolor==2.3.0
pyobjc-framework-NetFS==11.0
numpydoc==1.5.0
comm==0.1.4
pyobjc-framework-AudioVideoBridging==11.0
MarkupSafe==2.1.3
MarkupSafe==3.0.2
pyobjc-framework-VideoSubscriberAccount==11.0
asgiref==3.7.2
pyobjc-framework-GameKit==11.0
pyobjc-framework-AVFoundation==11.0
onnx==1.18.0
PyQt5==5.15.9
pluggy==1.3.0
cachetools==5.5.2
wheel==0.41.2
grpcio==1.62.2
proto-plus==1.26.1
scikit-image==0.21.0
pyobjc-framework-NaturalLanguage==11.0
pymemcache==4.0.0
pyobjc-framework-ThreadNetwork==11.0
filterpy==1.4.5
pyobjc-framework-SecurityInterface==11.0
macholib==1.16.3
pyobjc-framework-AdSupport==11.0
pandas==2.1.1
Django==4.2.6
app-model==0.2.8
pyobjc-framework-DataDetection==11.0
fastjsonschema==2.18.0
click==8.1.7
wget==3.2
tabulate==0.9.0
sphinx-gallery==0.3.1
dill==0.3.9
pyobjc-framework-InstallerPlugins==11.0
llvmlite==0.43.0
